<nav class="navbar navbar-expand-lg navbar-light bg-light topmenu">
    <a class="navbar-brand" href="/">Vegan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/menu">Menu</a>
              </li>
      </ul>

      <ul class="nav navbar-nav pull-right top_right_menu ">
            <% if(currentUser){ %>
                <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle topmenu2" data-toggle="dropdown">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-lr animated slideInRight topmenu_item" role="menu">
                            <li>Order History</li>
                            <li>Settings</li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li> 
              </ul> 
            <% } else{ %> 
                <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle topmenu2" data-toggle="dropdown">Log In <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-lr animated slideInRight topmenu_item" role="menu">
                    
                        <div class="col-lg-12 mycustombtn">
                            <div class="text-center">
                                <a href="/auth/google">
                                <img class="google-btn"src="https://ucollect.biz/wp-content/uploads/2015/03/Red-signin_Long_base_44dp.png" width="80%"/>
                                </a>
                            </div>
                        </div> 
                       
                </ul>
            </li> 
      </ul>
            <% } %>
      <div class="topmenu_item">
      <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                <a class="nav-link" href="#">Cart</a>
            </li>
      </ul>
    </div>
    </div>
  </nav>