<nav class="navbar navbar-expand-lg navbar-light bg-light topmenu">
        <a class="navbar-brand" href="#">Vegan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:3000">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
            </li>
          </ul>
    
          <ul class="nav navbar-nav pull-right top_right_menu ">
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         FirstName
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="http://localhost:3000/order_history">Order History</a>
                          <a class="dropdown-item" href="http://localhost:3000/profile">Account Info</a>
                          <a class="dropdown-item" href="http://localhost:3000">Logout</a>
                        </div>
                </li>
          </ul>
          <div class="topmenu_item">
          <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                </li>
          </ul>
        </div>
        </div>
      </nav>