<div class="footer">
    <a href="/admin">Admin</a>
</div>
</body>
<script src=”js/datatables/datatables.js”></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
</html>