<div class="footer">
    <div class="offset-md-1">
        <a class="admin" href="/admin">Admin</a>
    </div>
</div>
</body>
<script src="js/datatables/datatables.js"></script>
        
</html>