<% include partials/header %>

<% include partials/_header %>
<center><h2>Shopping Cart</h2></center>
<center><p>Review your order!</p></center>

<div class="container">
    <% for(var i=0; i<cart.length; i++){ %>
  <table class="table table-striped table-bordered" style="width:100%">
      <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
      </tr>
      
        <tr>
            <th><%= cart[i].name %></th>
            <th><input type="number" value=<%= cart[i].qty %>></th>
            <th><%= cart[i].price %></th>
        </tr>
        
  </table>
  <a class="btn btn-warning btn-ok" data-toggle="modal" data-target="#confirm-order">Confirm Order</a>
  <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
  <% } %> 
</div>
<% include partials/footer %>
