<!DOCTYPE html>

<center><div class="container">
  <h1>Thank you for your order!</h1>
  <h4>Confirmation Number: ....</h4>
  <h2>Items ordered:</h2>
</div></center>


<center><img src="/images/dog.jpg" width="300" height="198"></center>

<p>Or go <a href="/">home</a>.</p>
</body>
</html>
