<% include partials/header %>
<% include partials/_header.ejs %>
<center><div class="container order_confirm_container">
    <div class="text-xs-center">
        <h1 class="display-3">Thank You!</h1>
        <h4>Confirmation #: 10</h4>
        <p class="lead"><strong>Please check your email</strong> for the order detail.</p>
        <hr>
        <center><img src="/images/dog.jpg" width="300" height="198"></center>
        <p>
      <table class="table table-sm order_confirm_table">
        <thead>
          <tr>
            <th>Menu</th>
            <th>Qty</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Menu1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
        <p class="lead">
          <a class="btn btn-primary btn-sm order_confirm_button" href="/" role="button">Continue to homepage</a>
        </p>
      </div>
</div></center>

<% include partials/footer.ejs %>
