<% include partials/header %>
<h1>Homepage</h1>

<a href="/auth/google">Google Log In</a>
<a href="/auth/facebook">Facebook Log In</a>
<a href="/logout">Logout</a>
<% include partials/footer %>
