<% include partials/header %>

<font size="10" color="green">Bonnie's Vegan Cuisine</font>
<hr>

<h1><strong>Appppetizers</strong></h1>

 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">BBQ Drumsticks</h5>
        <p class="card-text">Vegan drumsticks dizzled in BBQ Sauce</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<h5 class="card-title">French Fries</h5>
        <p class="card-text">Fresh never frozen golden fries</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>

</br>

 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<h5 class="card-title">Chick-un Nuggets</h5>
        <p class="card-text">Crispy chick-un nuggets served with a sweet chili dipping sauce</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cauliflower Buffalo Wings</h5>
        <p class="card-text">Battered and Fried Cauliflower covered with buffalo sauce and served w/ ranch</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>


<!--   --> 

</br>
<h2><strong>Entrees</strong></h2>

 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<h5 class="card-title">Chick-un Marinara Melt</h5>
        <p class="card-text">Chick-un with marinara sauce, melted vegan mozarella on a toasted french roll</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Spinach Artichoke Pesto Pizza</h5>
        <p class="card-text">Garlic pesto sauce w oven roasted artichoke hearts, baby spinach, mushrooms, vegan mozarella, and wild oregano</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Jackfruit Tacos</h5>
        <p class="card-text">Two corn tortillas topped w shredded jackfruit, cabbage, avocado, sriracha mayo, homemade sals fresca and cilantro</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Southwestern Quinoa Salad</h5>
        <p class="card-text">Quinoa, black beans, red bell peppers, sweet corn, onions, cilantro, and lemon juice. Served on a bed of massaged kale with an Italian vinagrette</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<h5 class="card-title">Classic Veggie Burger</h5>
        <p class="card-text">Homemade patty served with house dressing, tomato, lettuce, onions, pickles, ketchup and mustard on a wheat bun</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
<!--    -->

<h2><strong>Desserts</strong></h2>
<hr>




<!--
<!DOCTYPE html>
<html>
<style>
div {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 30px;
}
</style>
<body>

<div class="container">
<font size="10" color="green">Bonnie's Vegan Cuisine</font>
<hr>

<h1><strong>Appppetizers</strong></h1>
</hr>

<dl>
  <dt><b>BBQ Drumsticks</b></dt>
  <dd>~Vegan drumsticks dizzled in BBQ Sauce</dd>
  <dt><b>French Fries</b></dt>
  <dd>~Fresh never frozen golden fries</dd>
  <dt><b>Chick-un Nuggets</b></dt>
  <dd>~Crispy chick-un nuggets served with a sweet chili dipping sauce</dd>
  <dt><b>Cauliflower Buffalo Wings</b></dt>
  <dd>~Battered and Fried Cauliflower covered with buffalo sauce and served w/ ranch</dd>

<h2><strong>Entrees</strong></h2>
<hr>

<d2>
	<dt><b>Chick-un Marinara Melt</b><dt>
	<dd>~Chick-un with marinara sauce, melted vegan mozarella on a toasted french roll</dd>
	<dt><b>Spinach Artichoke Pesto Pizza</b></dt>
	<dd>~Garlic pesto sauce w oven roasted artichoke hearts, baby spinach, mushrooms, vegan mozarella, and wild oregano</dd>
	<dt><b>Classic Veggie Burger</b></dt>
	<dd>~Homemade patty served with house dressing, tomato, lettuce, onions, picles, ketchup and mustard on a wheat bun</dd>
	<dt><b>Jackfruit Tacos</b></dt>
	<dd>~Two corn tortillas topped w shredded jackfruit, cabbage, avocado, sriracha mayo, homemade salsa fresca and cilantro</dd>
	<dt><b>Southwestern Quinoa Salad</b></dt>
	<dd>~Quinoa, black beans, red bell peppers, sweet corn, onions, cilantro, and lemon juice. Served on a bed of massaged kale with an italian vinagrette</dd>

<h3><strong>Dessert</strong></h3>
<hr>

<d3>
	<dt><b>Carrot Cake</b></dt>
	<dt><b>Chocolate Cake</b></dt>
	<dt><b>Coconut Cake</b></dt>
	<dt><b>Icee Cream</b></dt>
	<dd>~Choice of chocolate, vanilla, strawberry, or flavor of the month</dd>

</dl>
</div>
</body>
</html>
-->