<% include partials/header %>
<% include partials/_header.ejs %>

    <!-- Fixed navbar (Header) -->
    <!-- Body-->
    <div class="container">
            <img src="https://images.template.net/wp-content/uploads/2014/10/Green-Food-vegetarian-restaurant.jpg" 
            alt="Center Align image in bootstrap" 
            class="img-rounded center-block">
    </div>
    <!-- Body Ended-->
    <!-- Footer -->
    <!-- Footer Ended-->
    
<% include partials/footer %>
