<% include partials/header %>
<% include partials/_header.ejs %>


<center class="container">
<font face ="Arial" size="8" color="DarkGreen">Bonnie's Vegan Cuisine</font>


<h1><strong>Appetizers</strong></h1>
 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">BBQ Drumsticks</h5>
		<h5 class="menu-item card-title">$6.25</h5>
		</div>
        <p class="card-text">Vegan drumsticks drizzled in BBQ Sauce</p>
		<img class="col-sm-10" src="/images/drumstick.jpg" width="300" height="225">
        <a class="btn btn-success cart" data-food="drumsticks">Add to Cart</a>
	  </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">French Fries</h5>
		<h5 class="menu-item card-title">$4.25</h5>
		</div>
	
        <p class="card-text">Fresh never frozen golden fries</p>
        <img class="col-sm-10" src="/images/fries.jpg" width="300" height="225">
		<a class="btn btn-success cart" data-food="fries">Add to Cart</a>
      </div>
    </div>
  </div>
</div>

</br>

 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Chick-un Nuggets</h5>
		<h5 class="menu-item card-title">$5.95</h>
		</div>
      <p class="menu-item card-text">Crispy chick-un nuggets served with a sweet chili dipping sauce</p>
		<img class="col-sm-10" src="/images/nuggets.jpg" width="400" height="250">
		<a class="btn btn-success cart" data-food="nuggets">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Cauliflower Buffalo Wings</h5>
		<h5 class="menu-item card-title">$6.95</h5>
		</div>
        <p class="card-text">Battered and Fried Cauliflower covered with buffalo sauce and served w/ ranch</p>
        <img class="col-sm-10" src="/images/cauliflower.jpg" width="260" height="225">

		<a class="btn btn-success cart" data-food="wings">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
</br>
    <h1 class="text-center  mt-3"><strong>Entrees</strong></h1>

 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Chick-un Marinara Melt</h5>
		<h5 class="menu-item card-title">$10.45</h5>
		</div>
        <p class="card-text">Chick-un with marinara sauce, melted vegan mozarella on a toasted french roll</p>
       	<img class="col-sm-10" src="/images/marinara.jpg" width="300" height="198">
	    <a class="btn btn-success cart" data-food="chick-melt">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Artichoke Pesto Pizza</h5>
		<h5 class="menu-item card-title">$10.95</h5>
		</div>
        <p class="card-text">Garlic pesto sauce w oven roasted artichoke hearts, baby spinach, mushrooms, vegan mozarella, and wild oregano</p>
        <img class="col-sm-10" src="/images/pesto.jpg" width="250" height="198">
		<a class="btn btn-success cart" data-food="spinach-pizza">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
</br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Jackfruit Tacos</h5>
		<h5 class="menu-item card-title">$9.45</h5>
		</div>
        <p class="card-text">Two corn tortillas topped w shredded jackfruit, cabbage, avocado, sriracha mayo, homemade sals fresca and cilantro</p>
		<img class="col-sm-10" src="/images/jackfruit.jpg" width="200" height="200">
		<a class="btn btn-success cart" data-food="tacos">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Southwestern Quinoa Salad</h5>
		<h5 class="menu-item card-title">$FREE with a side of LUV</h5>
		</div>
        <p class="card-text">Quinoa, black beans, red bell peppers, sweet corn, onions, cilantro, and lemon juice. Served on a bed of massaged kale with an Italian vinagrette</p>
        <img class="col-sm-10" src="/images/quinoa.jpg" width="200" height="200">
		<a class="btn btn-success cart" data-food="salad">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
</br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Classic Veggie Burger</h5>
		<h5 class="menu-item card-title">$9.45</h5>
		</div>
        <p class="card-text">Homemade patty served with house dressing, tomato, lettuce, onions, pickles, ketchup and mustard on a wheat bun</p>
        <img class="col-sm-10" src="/images/burger.jpg" width="200" height="250">

		<a class="btn btn-success cart" data-food="burger">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
</br>

<h1 class="text-center  mt-3"><strong>Desserts</strong></h1>


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Carrot Cake</h5>
		<h5 class="menu-item card-title">$3.95</h5>
		</div>
        <p class="card-text"></p>
		<img class="col-sm-10" src="/images/carrot.jpg" width="300" height="225">

        <a class="btn btn-success cart" data-food="carrot-cake">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Chocolate Cake</h5>
		<h5 class="menu-item card-title">$4.50</h5>
		</div>
        <p class="card-text"></p>
		<img class="col-sm-10" src="/images/chocolate.jpg" width="250" height="260">
        <a class="btn btn-success cart" data-food="chocolate-cake">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
</br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Coconut Cake</h5>
		<h5 class="menu-item card-title">$3.95</h5>
		</div>
        <p class="card-text"></p>
			<img class="col-sm-10" src="/images/coconut.jpg" width="260" height="280">
        <a class="btn btn-success cart" data-food="coconut-cake">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Ice Cream</h5>
		<h5 class="menu-item card-title">$2.95</h5>
		</div>
  
    <img class="col-sm-10" src="/images/icecream.jpg" width="260" height="210">
    <div class="input-group offset-md-2 mt-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="flavor">Flavor:</label>
          </div>
        <select class="form-control col-sm-6" id="flavor">
          <option>Chocolate</option>
          <option>Strawberry</option>
          <option>Vanilla</option>
          <option>Flavor of the Month </option>
        </select>
      </div>
		<a class="btn btn-success add-ice-cream" data-food="icecream">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
</br>
</center>
<script>
  var cart = JSON.parse(localStorage.getItem("cart"));
        if (cart === null) {
            cart = [{
              name: 'drumsticks',
              type: 'appetizer',
              qty: 0
            },
            {
              name: 'fries',
              type: 'appetizer',
              qty: 0
            },
            {
              name: 'nuggets',
              type: 'appetizer',
              qty: 0
            },
            {
              name: 'wings',
              type: 'appetizer',
              qty: 0
            },
            {
              name: 'chick-melt',
              type: 'entree',
              qty: 0
            },
            {
              name: 'spinach-pizza',
              type: 'entree',
              qty: 0
            },
            {
              name: 'burger',
              type: 'entree',
              qty: 0
            },
            {
              name: 'tacos',
              type: 'entree',
              qty: 0
            },
            {
              name: 'salad',
              type: 'entree',
              qty: 0
            },
            {
              name: 'carrot-cake',
              type: 'dessert',
              qty: 0
            },
            {
              name: 'chocolate-cake',
              type: 'dessert',
              qty: 0
            },
            {
              name: 'coconut-cake',
              type: 'dessert',
              qty: 0
            },
            {
              name: 'icecream',
              type: 'dessert',
              flavor: 'chocolate',
              qty: 0
            },
            {
              name: 'icecream',
              type: 'dessert',
              flavor: 'vanilla',
              qty: 0
            },
            {
              name: 'icecream',
              type: 'dessert',
              flavor: 'strawberry',
              qty: 0
            },
            {
              name: 'icecream',
              type: 'dessert',
              flavor: 'month',
              qty: 0
            },
            ];
        }

        console.log('cart', cart);
  $(".cart").click(function(event){
      event.preventDefault();
      var name = $(this).attr("data-food");

      for(var i=0; i<cart.length; i++){
        if(cart[i].name === name){
          cart[i].qty++;
        }
      }
      console.log('cart', cart);
      localStorage.setItem("cart", JSON.stringify(cart));
  });

    $(".add-ice-cream").click(function(event){
      event.preventDefault();
      var name = $(this).attr("data-food");
      var flavor = $('#flavor').val().toLowerCase();
      for(var i=0; i<cart.length; i++){
        if(cart[i].name === name && cart[i].flavor === flavor){
          cart[i].qty++;
        }
      }
      console.log('cart', cart);
      localStorage.setItem("cart", JSON.stringify(cart));
    });
      // shoppingCart.addItemToCart(name, price, 1);
      // di
</script>
<% include partials/footer %>