<% include partials/header %>
<% include partials/_header.ejs %>

<% if(data) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    Item Added!
  </div>
  <% } %>

<center class="container">
<font face ="Arial" size="8" color="DarkGreen">Bonnie's Vegan Cuisine</font>


<h1><strong>Appetizers</strong></h1>
 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">BBQ Drumsticks</h5>
		<h5 class="menu-item card-title">$6.25</h5>
		</div>
        <p class="card-text">Vegan drumsticks drizzled in BBQ Sauce</p>
    <img class="col-sm-10" src="/images/drumstick.jpg" width="300" height="225">
      <form action="/additem" method="POST">
        <input type="hidden" name="food" value="BBQ Drumsticks">
        <input type="hidden" name="price" value="$6.25">
        <button type="submit" class="btn btn-success cart">Add to Cart</button>
      </form>
        
	  </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">French Fries</h5>
		<h5 class="menu-item card-title">$4.25</h5>
		</div>
	
        <p class="card-text">Fresh never frozen golden fries</p>
        <img class="col-sm-10" src="/images/fries.jpg" width="300" height="225">
    <form action="/additem" method="POST">
      <input type="hidden" name="food" value="French Fries">
      <input type="hidden" name="price" value="$4.25">
      <button class="btn btn-success cart">Add to Cart</button>
    </form>
      </div>
    </div>
  </div>
</div>

</br>

 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Chick-un Nuggets</h5>
		<h5 class="menu-item card-title">$5.95</h>
		</div>
      <p class="menu-item card-text">Crispy chick-un nuggets served with a sweet chili dipping sauce</p>
		<img class="col-sm-10" src="/images/nuggets.jpg" width="400" height="250">
    <form action="/additem" method="POST">
      <input type="hidden" name="food" value="Chick-un Nuggets">
      <input type="hidden" name="price" value="$5.95">
      <button class="btn btn-success cart">Add to Cart</button>
    </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Cauliflower Buffalo Wings</h5>
		<h5 class="menu-item card-title">$6.95</h5>
		</div>
        <p class="card-text">Battered and Fried Cauliflower covered with buffalo sauce and served w/ ranch</p>
        <img class="col-sm-10" src="/images/cauliflower.jpg" width="260" height="225">

        <form action="/additem" method="POST">
          <input type="hidden" name="food" value="Cauliflower Buffalo Wings">
          <input type="hidden" name="price" value="$6.95">
          <button class="btn btn-success cart">Add to Cart</button>
        </form>
      </div>
    </div>
  </div>
</div>
</br>
    <h1 class="text-center  mt-3"><strong>Entrees</strong></h1>

 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Chick-un Marinara Melt</h5>
		<h5 class="menu-item card-title">$10.45</h5>
		</div>
        <p class="card-text">Chick-un with marinara sauce, melted vegan mozarella on a toasted french roll</p>
       	<img class="col-sm-10" src="/images/marinara.jpg" width="300" height="198">
         <form action="/additem" method="POST">
          <input type="hidden" name="food" value="Chick-un Marinara Melt">
          <input type="hidden" name="price" value="$10.55">
          <button class="btn btn-success cart">Add to Cart</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Artichoke Pesto Pizza</h5>
		<h5 class="menu-item card-title">$10.95</h5>
		</div>
        <p class="card-text">Garlic pesto sauce w oven roasted artichoke hearts, baby spinach, mushrooms, vegan mozarella, and wild oregano</p>
        <img class="col-sm-10" src="/images/pesto.jpg" width="250" height="198">
        <form action="/additem" method="POST">
          <input type="hidden" name="food" value="Artichoke Pesto Pizza">
          <input type="hidden" name="price" value="$10.95">
          <button class="btn btn-success cart">Add to Cart</button>
        </form>
      </div>
    </div>
  </div>
</div>
</br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Jackfruit Tacos</h5>
		<h5 class="menu-item card-title">$9.45</h5>
		</div>
        <p class="card-text">Two corn tortillas topped w shredded jackfruit, cabbage, avocado, sriracha mayo, homemade sals fresca and cilantro</p>
		<img class="col-sm-10" src="/images/jackfruit.jpg" width="200" height="200">
    <form action="/additem" method="POST">
      <input type="hidden" name="food" value="Jackfruit Tacos">
      <input type="hidden" name="price" value="$9.45">
      <button class="btn btn-success cart">Add to Cart</button>
    </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Southwestern Quinoa Salad</h5>
		<h5 class="menu-item card-title">$10.95</h5>
		</div>
        <p class="card-text">Quinoa, black beans, red bell peppers, sweet corn, onions, cilantro, and lemon juice. Served on a bed of massaged kale with an Italian vinagrette</p>
        <img class="col-sm-10" src="/images/quinoa.jpg" width="200" height="200">
        <form action="/additem" method="POST">
          <input type="hidden" name="food" value="Southwestern Quinoa Salad">
          <input type="hidden" name="price" value="$10.95">
          <button class="btn btn-success cart">Add to Cart</button>
        </form>
      </div>
    </div>
  </div>
</div>
</br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Classic Veggie Burger</h5>
		<h5 class="menu-item card-title">$9.45</h5>
		</div>
        <p class="card-text">Homemade patty served with house dressing, tomato, lettuce, onions, pickles, ketchup and mustard on a wheat bun</p>
        <img class="col-sm-10" src="/images/burger.jpg" width="200" height="250">
        <form action="/additem" method="POST">
          <input type="hidden" name="food" value="Classic Veggie Burger">
          <input type="hidden" name="price" value="$9.45">
          <button class="btn btn-success cart">Add to Cart</button>
        </form>
      </div>
    </div>
  </div>
</div>
</br>

<h1 class="text-center  mt-3"><strong>Desserts</strong></h1>


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Carrot Cake</h5>
		<h5 class="menu-item card-title">$3.95</h5>
		</div>
        <p class="card-text"></p>
		<img class="col-sm-10" src="/images/carrot.jpg" width="300" height="225">
    <form action="/additem" method="POST">
      <input type="hidden" name="food" value="Carrot Cake">
      <input type="hidden" name="price" value="$3.95">
      <button class="btn btn-success cart">Add to Cart</button>
    </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Chocolate Cake</h5>
		<h5 class="menu-item card-title">$4.50</h5>
		</div>
        <p class="card-text"></p>
    <img class="col-sm-10" src="/images/chocolate.jpg" width="250" height="260">
    <form action="/additem" method="POST">
      <input type="hidden" name="food" value="Chocolate Cake">
      <input type="hidden" name="price" value="$4.50">
      <button class="btn btn-success cart">Add to Cart</button>
    </form>
      </div>
    </div>
  </div>
</div>
</br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Coconut Cake</h5>
		<h5 class="menu-item card-title">$3.95</h5>
		</div>
        <p class="card-text"></p>
			<img class="col-sm-10" src="/images/coconut.jpg" width="260" height="280">
      <form action="/additem" method="POST">
        <input type="hidden" name="food" value="Coconut Cake">
        <input type="hidden" name="price" value="$3.95">
        <button class="btn btn-success cart">Add to Cart</b>
      </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Ice Cream</h5>
		<h5 class="menu-item card-title">$2.95</h5>
		</div>
  
    <img class="col-sm-10" src="/images/icecream.jpg" width="260" height="210">
    <div class="input-group offset-md-2 mt-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="flavor">Flavor:</label>
          </div>
          <form action="/" method="POST"></form>
        <select class="form-control col-sm-6" name="flavor">
          <option value="Chocolate">Chocolate</option>
          <option value="Strawberry">Strawberry</option>
          <option value="Vanilla">Vanilla</option>
          <option value="Flavor of the Month">Flavor of the Month </option>
        </select>
      </div>
      
        <input type="hidden" name="food" value="Ice Cream">
        <input type="hidden" name="price" value="$10.95">
        <button class="btn btn-success cart">Add to Cart</button>
      </form>
      </div>
    </div>
  </div>
</div>
</br>
</center>
<% include partials/footer %>