<% include partials/header %>
<% include partials/_header.ejs %>


<center>
<font face ="Arial" size="8" color="DarkGreen">Bonnie's Vegan Cuisine</font>


<h1><strong>Appetizers</strong></h1>
 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">BBQ Drumsticks</h5>
		<h5 class="menu-item card-title">$6.25</h5>
		</div>
        <p class="card-text">Vegan drumsticks drizzled in BBQ Sauce</p>
		<img src="/images/drumstick.jpg" width="300" height="198">
        <a href="#" class="btn btn-primary">Add to Cart</a>
	  </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">French Fries</h5>
		<h5 class="menu-item card-title">$4.25</h5>
		</div>
	
        <p class="card-text">Fresh never frozen golden fries</p>
        <img src="/images/fries.jpg" width="300" height="198">
		<a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>

</br>

 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Chick-un Nuggets</h5>
		<h5 class="menu-item card-title">$5.95</h>
		</div>
        <p class="menu-item card-text">Crispy chick-un nuggets served with a sweet chili dipping sauce</p>
		<img src="/images/nuggets.jpg" width="400" height="250">
		<a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Cauliflower Buffalo Wings</h5>
		<h5 class="menu-item card-title">$6.95</h5>
		</div>
        <p class="card-text">Battered and Fried Cauliflower covered with buffalo sauce and served w/ ranch</p>
        <img src="/images/cauliflower.jpg" width="260 height="198">

		<a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>




<hr>
<h2><strong>Entrees</strong></h2>


 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Chick-un Marinara Melt</h5>
		<h5 class="menu-item card-title">$10.45</h5>
		</div>
        <p class="card-text">Chick-un with marinara sauce, melted vegan mozarella on a toasted french roll</p>
       	<img src="/images/marinara.jpg" width="300" height="198">
	    <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Artichoke Pesto Pizza</h5>
		<h5 class="menu-item card-title">$10.95</h5>
		</div>
        <p class="card-text">Garlic pesto sauce w oven roasted artichoke hearts, baby spinach, mushrooms, vegan mozarella, and wild oregano</p>
        <img src="/images/pesto.jpg" width="250" height="198">
		<a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Jackfruit Tacos</h5>
		<h5 class="menu-item card-title">$9.45</h5>
		</div>
        <p class="card-text">Two corn tortillas topped w shredded jackfruit, cabbage, avocado, sriracha mayo, homemade sals fresca and cilantro</p>
		<img src="/images/jackfruit.jpg" width="260" height="300">
		<a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Southwestern Quinoa Salad</h5>
		<h5 class="menu-item card-title">$FREE with a side of LUV</h5>
		</div>
        <p class="card-text">Quinoa, black beans, red bell peppers, sweet corn, onions, cilantro, and lemon juice. Served on a bed of massaged kale with an Italian vinagrette</p>
        <img src="/images/quinoa.jpg" width="250" height="300">
		<a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Classic Veggie Burger</h5>
		<h5 class="menu-item card-title">$9.45</h5>
		</div>
        <p class="card-text">Homemade patty served with house dressing, tomato, lettuce, onions, pickles, ketchup and mustard on a wheat bun</p>
        <img src="/images/burger.jpg" width="250" height="300">

		<a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>


<div class="col-sm-12">
<div>
<h2><strong>Desserts</strong></h2>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Carrot Cake</h5>
		<h5 class="menu-item card-title">$3.95</h5>
		</div>
        <p class="card-text"></p>
		<img src="/images/carrot.jpg" width="300" height="198">

        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Chocolate Cake</h5>
		<h5 class="menu-item card-title">$4.50</h5>
		</div>
        <p class="card-text"></p>
		<img src="/images/chocolate.jpg" width="250" height="260">
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Coconut Cake</h5>
		<h5 class="menu-item card-title">$3.95</h5>
		</div>
        <p class="card-text"></p>
			<img src="/images/coconut.jpg" width="260" height="280">
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
		<div>
		<h5 class="menu-item card-title">Ice Cream</h5>
		<h5 class="menu-item card-title">$2.95</h5>
		</div>
        <p class="card-text">Choice of chocolate, vanilla, strawberry, or flavor of the month</p>
		<img src="/images/icecream.jpg" width="260" height="210">
		<a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>

</center>
<% include partials/footer %>